[Unit]
Description=Gunicorn Daemon

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/env/django-sample
ExecStart=/home/ubuntu/env/bin/gunicorn heestagram.wsgi --bind 0:8000

[Install]
WantedBy=multi-user.target